.active-notes-container {
    border: solid 0px;
    width: 50%;
    background: #f2f2f2;
    padding: 1rem;
    border-radius: 4px;
    height: fit-content;
}

.active-notes-container h3 {
    margin: 0 0 1rem 0;
    padding: 0;
}